root = true

[*]
charset = utf-8 # エンコード
end_of_line = lf # 改行コード \n
indent_style = space # インデントにスペースを使用
indent_size = 2 # インデントサイズ
insert_final_newline = true # 末端に改行
trim_trailing_whitespace = true # 行末端のスペースを削除

[*.md]
trim_trailing_whitespace = false # 改行に使用
